.wave-button {
    position: relative;
    font-size: 20px; /* Increased font size */
    font-weight: bold;
    color: white !important;
    background-color: #4e7587;
    border: none;
    border-radius: 10px; /* Rounded corners */
    cursor: pointer;
    overflow: hidden;
    width: 250px;
    height: 70px;
    transition: all 0.3s ease;
}

.wave-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.wave-button1 {
    position: relative;
    font-size: 20px; /* Increased font size */
    font-weight: bold;
    color: white !important;
    background-color: #4e7587;
    border: none;
    border-radius: 10px; /* Rounded corners */
    cursor: pointer;
    overflow: hidden;
    height: 70px;
    transition: all 0.3s ease;
    margin-top: 35px;
}

.wave-button1:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
} 


.wave-button2 {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: white !important;
    background-color: #25D366;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    width: 300px; /* Default width for larger screens */
    height: 100px;
    transition: all 0.3s ease;
}

.wave-button2:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

@media (min-width: 1200px) and (max-width: 1400px) {

    .wave-button2 {
        position: relative;
        font-size: 20px;
        font-weight: bold;
        color: white !important;
        background-color: #25D366;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;
        width: 250px; /* Default width for larger screens */
        height: 100px;
        transition: all 0.3s ease;
    }
    
    .wave-button2:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .wave-button-i {
        position: relative;
        font-size: 20px;
        font-weight: bold;
        color: white !important;
        background: linear-gradient(135deg, #d62976 0%, #ff4d88 50%, #a61e5c 100%);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;
        width: 250px !important; /* Default width for larger screens */
        height: 100px;
        transition: all 0.3s ease;
    }
    
    .wave-button-i:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
} 


@media (min-width: 992px) and (max-width: 1200px) {

    .wave-button2 {
        position: relative;
        font-size: 20px;
        font-weight: bold;
        color: white !important;
        background-color: #25D366;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;
        width: 200px; /* Default width for larger screens */
        height: 100px;
        transition: all 0.3s ease;
    }
    
    .wave-button2:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .wave-button-i {
        position: relative;
        font-size: 20px;
        font-weight: bold;
        color: white !important;
        background: linear-gradient(135deg, #d62976 0%, #ff4d88 50%, #a61e5c 100%);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;
        width: 200px !important; /* Default width for larger screens */
        height: 100px;
        transition: all 0.3s ease;
    }
    
    .wave-button-i:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
} 


@media (min-width: 772px) and (max-width: 992px) {

    .wave-button2 {
        position: relative;
        font-size: 20px;
        font-weight: bold;
        color: white !important;
        background-color: #25D366;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;
        width: 200px; /* Default width for larger screens */
        height: 100px;
        transition: all 0.3s ease;
    }
    
    .wave-button2:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .wave-button-i {
        position: relative;
        font-size: 20px;
        font-weight: bold;
        color: white !important;
        background: linear-gradient(135deg, #d62976 0%, #ff4d88 50%, #a61e5c 100%);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;
        width: 200px !important; /* Default width for larger screens */
        height: 100px;
        transition: all 0.3s ease;

    }
    
    .wave-button-i:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .wave-button-l {
        position: relative;
        font-size: 20px;
        font-weight: bold;
        color: white !important;
        background: linear-gradient(135deg, #0A66C2 0%, #004182 100%);    
        border: none;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;
        width: 300px; /* Default width for larger screens */
        height: 100px;
        transition: all 0.3s ease;
        margin-top: 30px !important;
    }
    
    .wave-button-l:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
} 


.wave-button-i {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: white !important;
    background: #833ab4;
    background: linear-gradient(
      to right,
      #833ab4,#fd1d1d,#fcb045
    );    
    border: none;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    width: 300px; /* Default width for larger screens */
    height: 100px;
    transition: all 0.3s ease;
}

.wave-button-i:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.wave-button-l {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: white !important;
    background: linear-gradient(135deg, #0A66C2 0%, #004182 100%);    
    border: none;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    width: 300px; /* Default width for larger screens */
    height: 100px;
    transition: all 0.3s ease;
}

.wave-button-l:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.wave-button-s {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: white !important;
    background-color: #4e7587;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    width: 250px; /* Default width for larger screens */
    height: 90px;
    transition: all 0.3s ease;
    margin-top: 30px !important;
}

.wave-button-s:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.wave-button3 {
    position: relative;
    font-size: 20px; /* Increased font size */
    font-weight: bold;
    color: white !important;
    background-color: #4e7587;
    border: none;
    border-radius: 10px; /* Rounded corners */
    cursor: pointer;
    overflow: hidden;
    width: 250px;
    height: 90px;
    transition: all 0.3s ease;
}

.wave-button3:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Media query for screens UNDER 992px */
@media (max-width: 991.98px) {
    .wave-button-w {
        width: 300px !important; /* Adjust width for smaller screens */
        height: 90px !important;
    }

    .wave-button2 {
        width: 300px !important; /* Adjust width for smaller screens */
        height: 90px !important;

    }

    .wave-button-i {
        width: 300px !important; /* Adjust width for smaller screens */
        height: 90px !important;

    }

    .wave-button-l {
        width: 300px !important; /* Adjust width for smaller screens */
        height: 90px !important;

    }
    
    .wave-button-ws {
        width: 300px !important; /* Adjust width for smaller screens */
        height: 90px !important;
    }

    .wave-button-s {
        width: 100% !important; /* Adjust width for smaller screens */
        height: 65px !important;

    }


    .wave-button-a {
        display: flex; /* Make the anchor a flex container */
        justify-content: center; /* Center the button horizontally */
        align-items: center; /* Center the button vertically */
        height: 70px !important; /* Keep the height fixed */
        text-decoration: none; /* Remove underline from anchor */
        width: 220px !important; /* Adjust width for smaller screens */

    }
    
    .wave-button {
        width: 220px !important; /* Adjust width for smaller screens */
        height: 70px !important; /* Keep the height fixed */

        
    }
}


.button-text {
    position: relative;
    z-index: 2;
    font-size: 1em ;
}

@media (max-width: 992px) {


    .button-text {
        position: relative;
        z-index: 2;
        font-size: 0.7em !important;
    }

}

@media (min-width: 992px) {

    .wave-button1 {
        position: relative;
        font-size: 20px; /* Increased font size */
        font-weight: bold;
        color: white !important;
        background-color: #4e7587;
        border: none;
        border-radius: 10px; /* Rounded corners */
        cursor: pointer;
        overflow: hidden;
        height: 70px;
        transition: all 0.3s ease;
        margin-top: 35px;
        width: 250px !important;
    }
    
    .wave-button1:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    } 

    .wave-button3 {
        position: relative;
        font-size: 20px; /* Increased font size */
        font-weight: bold;
        color: white !important;
        background-color: #4e7587;
        border: none;
        border-radius: 10px; /* Rounded corners */
        cursor: pointer;
        overflow: hidden;
        height: 90px;
        transition: all 0.3s ease;
        margin-top: 35px;
        width: 220px !important;
    }
    
    .wave-button3:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    } 

    

    
    }



.wave-container {
    position: absolute;
    left: 0;
    bottom: -5; /* Position at the bottom of the button */
    width: 100%; /* Take full width of the button */
    height: 30px; /* Height of the wave container */
    overflow: hidden;
}

.wave-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%; /* Double the width of the container */
    height: 100%; /* Height of the wave */
    background: none;
    animation: wave 3s infinite linear;
}

@keyframes wave {
    0% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(-12.5%) translateY(-15px);
    }
    50% {
        transform: translateX(-25%) translateY(0);
    }
    75% {
        transform: translateX(-37.5%) translateY(15px);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}


.button-text3 {
    position: relative;
    z-index: 2;
}
